<a href="https://colab.research.google.com/github/theronib/Python/blob/main/python_practice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [290]:
lucky_num = 3
if (lucky_num % 2 == 0):
  result = lucky_num * 2
else:
  result = (lucky_num * 3) + 1

print(result)

10

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [293]:
my_new_list = list()
if len(my_new_list) == 0:
   my_new_list.append('element')

print(my_new_list)

['element']

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [295]:
name = 'Yaroslav'

if 'a' in name or 'i' in name:
    print('A or I is in the name')

if 'o' in name and 'n' in name:
    print('O and N is in the name')

if 'n' in name and 'o' not in name:
    print('Only N is in the name')
elif 'n' not in name:
    print('There is no N in the name, but there might be O')

A or I is in the name
There is no N in the name, but there might be O

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [ ]:
my_list = [num for num in range(10) if num % 2 == 0]

print(my_list)

[0, 2, 4, 6, 8]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [297]:
dictionary = {x: 'even' if x %2 == 0 else 'odd' for x in range(10)}
print(dictionary)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

*місце для відповіді: Слід використовувати для меншого по кількості коду. Або ми працюємо зі структурою даних, яка легко генерується. Або коли потрібно створити список, множину або словник на основі ітерабельного об'єкта за допомогою простої трансформації. Слід оминати, тому що ускладнює читабельність коду, код може стати менш розбірливим. Певні операції можуть бути краще розкриті за допомогою циклу

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [ ]:
my_list = list(('hello', 'i', 'dont', 'care'))
my_new_string_list = [word[:3].upper() for word in my_list]

print(my_new_string_list)

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
attempts = 3;

while (attempts > 0):
   print([x+1 for x in range(attempts)])
   attempts -= 1

[1, 2, 3]
[1, 2]
[1]

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
even_nums = []
for i in range(21):
  if i % 2 != 0:
    even_nums.append(i)

print(even_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [299]:
my_bool_list = list((True, True, None, False))
result_list = []
size_of_list = len(my_bool_list)

for i in range (size_of_list):
   bool_type = my_bool_list[i]
   result_list.append((i, bool_type))

print(my_bool_list, '->', result_list)

[True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [300]:
books = {
    'It': 3,
    'Fault stars': 10,
    'Bible' : 17,
    'Psychological romance' : 4,
    'Harry Potter' : 13
}
print(books, end = '-> ')
for book in books:
   books[book] += 5

print(books)

{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13}-> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [257]:
rows = 5
sign = '#'

for i in range (rows):
    for j in range (i):
      print(sign, end = '')
    print('\n')

#

##

###

####

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [301]:
from random import randint

print('Guess the number')
comp_num = int(randint(1,100))
attempts = 0
my_num = None

while comp_num != my_num:
 print('Enter the number: ')
 my_num = int(input())
 attempts += 1
 if(comp_num > my_num):
  print('More')
 elif(comp_num < my_num):
  print('Less')

 if(comp_num == my_num):
  print('You won! It took you ', attempts, ' attempts')

Guess the number
Enter the number:
30
More
Enter the number:
40
Less
Enter the number:
35
Less
Enter the number:
33
Less
Enter the number:
32
You won! It took you  5  attempts

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.